if SHIELD_FLACTYL_LEFT

config ZMK_KEYBOARD_NAME
	default "Flactyl"

config ZMK_SPLIT_ROLE_CENTRAL
	default y
endif

if SHIELD_FLACTYL_LEFT || SHIELD_FLACTYL_RIGHT

config ZMK_SPLIT
	default y

endif
