/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
	combos {
		compatible = "zmk,combos";
		combo_spc {
			timeout-ms = <50>;
			key-positions = <2 3>;
			bindings = <&kp SPACE>;
		};
		combo_ret {
				timeout-ms = <50>;
				key-positions = <3 13>;
				bindings = <&kp RET>;
		};
    };
    keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
&kp Q	&kp W	&kp F	&kp P	&mo 1				&trans		&kp L	&kp U	&kp Y	&trans
&kp A	&kp R	&kp S	&kp T	&kp G				&kp M		&kp N	&kp E	&kp I	&kp O
&kp Z	&kp X	&kp C	&kp D	&kp B				&kp J		&kp H	&kp V	&kp K	&trans

					&kp N1	&kp N2	&kp N3				&kp SPACE	&mo 1	&kp LEFT_SHIFT
					&kp N4	&kp N5	&kp N6				&mo 1		&mo 1	&mo 1
			>;
		};
		ble_layer {
			bindings = <
&trans		&trans		&trans		&trans			&trans						&trans		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans			&trans						&trans		&trans		&trans		&trans		&trans
&bt BT_PRV	&bt BT_NXT	&bt BT_CLR	&out OUT_USB	&out OUT_BLE				&trans		&trans		&trans		&trans		&trans

						&trans		&trans		&trans				&trans		&trans		&trans
						&trans		&trans		&trans				&trans		&trans		&trans
			>;
		};		
		numbers_layer {
			bindings = <
&trans		&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans		&trans

						&trans		&trans		&trans				&trans		&trans		&trans
						&trans		&trans		&trans				&trans		&trans		&trans
			>;
		};
		symbols_layer {
			bindings = <
&trans		&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans		&trans

						&trans		&trans		&trans				&trans		&trans		&trans
						&trans		&trans		&trans				&trans		&trans		&trans
			>;
		}; 
		trans_layer {
			bindings = <
&trans		&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans				&trans		&trans		&trans		&trans		&trans

						&trans		&trans		&trans				&trans		&trans		&trans
						&trans		&trans		&trans				&trans		&trans		&trans
			>;
		}; 
	};
};
